<div *ngIf="_loading" class="post-loading">
  <i class="fa fa-spin fa-spinner fa-3x"></i>
</div>
<div class="post-view-wrap" *ngIf="post">
  <div class="post-header">
    <div class="post-date">
      <div class="post-month">
        {{post.date | date: "MMM"}}
      </div>
      <div class="post-day">
        {{post.date | date: "dd"}}
      </div>
      <div class="post-year">
        {{post.date | date: "yyyy"}}
      </div>      
    </div>
    <div class="box-heading post-title" [innerHTML]="post.title"></div>
  </div>
  <div class="post-media-box">
    <img [src]="post.feat_media.full" class="img-responsive" />
  </div>
  <div class="content-box" [innerHTML]="post.content"></div>
  <div *ngIf="!post && !_loading">
    <span class="sorry-msg">
      Sorry, no post was found.
    </span>
  </div>
</div>
