@import "../../../../assets/lib/vixins";
:host,
.post-loading {
  @include evenXY(100%);
}

:host,
.post-loading,
.post-wrap,
.post-header,
.post-date,
.post-day,
.post-month,
.post-year,
.post-title,
.post-main,
.post-media-box,
.post-carousel {
  // flex
  display: flex;
  align-items: center;
}

.post-loading,
.post-month,
.post-year,
.post-title {
  // display
  flex-grow: 1;
}

.post-loading,
.post-month,
.post-day,
.post-year,
.post-title,
.post-media-box,
.post-main {
  justify-content: center;
}

.post-wrap,
.post-header,
.post-day,
.post-carousel,
.post-media-box,
.slick-dots {
  // box
  width: 100%;
}

.post-wrap,
.post-date,
.post-media-box,
.post-main {
  // flex
  flex-direction: column;
}

.post-header {
  // box
  height: auto;
  margin-bottom: 2rem;
}

.post-date {
  // box
  height: 100px;
  width: 100px; // decor
  background: $color-a;
  color: #fff;
  font-size: 1.2em;
  font-family: $font-b;
  .post-day {
    // box 
    @include evenXY(30%); // decor
    background: #fff;
    color: $color-e;
    font-size: 1.2em;
    font-weight: 800;
    border-radius: 100%;
  }
}

.post-title {
  // box 
  border-bottom: 2px solid #000;
  height: 100%;
  padding: 1rem; // decor 
  background: $color-b;
  color: $color-a;
  font-family: $font-b;
  font-size: 2em;
  font-weight: 700;
  text-shadow: 1px 2px 1px $color-d;
}

.post-carousel {
  // box
  width: 600px;
  // display
  align-self: center;
}
.post-content {
  // box
  border-left: solid 2px #000;
  padding: 1rem;
  margin: 1.5rem 0;
  width: 85%;
  // position
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    text-align: center;
    width: 5%;
    border-top: 2px solid #000;
  }
}
