<!--###################################-->
<!-- site header/nav for larger (>=768px) devices-->
<header class="large-nav-wrap hidden-xs">
  <div class="logo-row">
    <div class="header-logo">
      <a class="header-logo-link" routerLink="/home">
        <img class="img-responsive header-logo-img" src="./assets/img/skratchpad_logos/sp_logo_white(drop-shadow_black).png" alt="Skratchpad logo" />
      </a>
    </div>
  </div>
  <div class="large-nav-row">
    <div class="large-nav-item">
      <a routerLink="/home" routerLinkActive="active-link" class="large-nav-link">Home</a>
      <div class="large-nav-vinyl"></div>
    </div>
    <div class="large-nav-item dropdown">
      <a routerLink="/media" routerLinkActive="active-link" class="large-nav-link" role="button">
        Media
      </a>
      <div class="large-nav-vinyl"></div>
    </div>
    <div class="large-nav-item">
      <a routerLink="/chapters" routerLinkActive="active-link" class="large-nav-link" role="button">
        Chapters
      </a>
      <div class="large-nav-vinyl"></div>
    </div>
    <div class="large-nav-item">
      <a routerLink="shop" routerLinkActive="active-link" class="large-nav-link">Shop</a>
      <div class="large-nav-vinyl"></div>
    </div>
    <div class="large-nav-item">
      <a routerLink="/about" routerLinkActive="active-link" class="large-nav-link">About</a>
      <div class="large-nav-vinyl"></div>
    </div>
  </div>
</header>
<!--###################################-->
<!-- navbar for small (<=767px) devices -->
<div class="mobile-nav-wrap visible-xs">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div classs="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobileNav" aria-expanded="false">
          <span class="sr-only">toggle navigation</span>
          <img src="./assets/img/vinyl_1.svg" alt="vinyl menu toggle" class="navbar-btn-img">
        </button>
      </div>
      <div class="collapse navbar-collapse" id="mobileNav">
        <ul class="nav navbar-nav">
          <li class="mobile-nav-item">
            <a href="#" routerLink="/home" routerLinkActive="active-link">Home</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#" routerLink="/media" routerLinkActive="active-link">Media</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#" routerLink="/chapters" routerLinkActive="active-link">Chapters</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#" routerLink="/shop" routerLinkActive="active-link">Shop</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#" routerLink="/about" routerLinkActive="active-link">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
