  @import "./../../assets/lib/vixins";
   :host {
    // box
    height: auto;
    width: 100%;
    // decor 
    border-bottom: $color-d solid .5rem;
    @include screen-size(tablet-phone) {
      border-bottom: none;
    }
    // position
    z-index: 1000;
  }
  
  .large-nav-wrap,
  .large-nav-row,
  .large-nav-item,
  .large-nav-vinyl,
  .logo-row {
    display: flex;
  }
  
  // ** DESKTOP HEADER / NAVIGATION
  .large-nav-wrap {
    // box
    height: 90px;
    width: 100%;
    flex-direction: row;
  }
  
  .logo-row {
    // box
    height: 100%;
    width: 100%;
    // display
    flex-grow: 1;
    justify-content: center;
    // decor
    background-image: url("./assets/img/cut.setup_silho_01.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: -20px 0 40px 10px #000 inset;
  }
  
  .header-logo {
    // box
    height: 100%;
    width: auto;
    // display 
    text-align: center;
    .header-logo-img {
      height: 100%;
    }
  }
  
  .large-nav-row {
    // box
    height: auto;
    width: auto;
    // display
    flex-direction: row;
  }
  
  .large-nav-item {
    // decor
    background-color: $color-a;
    color: #000;
    // box
    border-left: $color-b solid 1px;
    border-right: $color-b solid 1px;
    border-radius: 1px;
    height: 100%;
    width: 90px;
    // display
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // text
    font-family: $font-beta;
    font-size: 1.2em;
    //position
    position: relative;
  }
  
  .large-nav-link {
    flex-shrink: 1;
    color: #fff;
    &:hover {
      color: $color-d;
    }
  }
  
  .large-nav-vinyl {
    // decor
    background-color: rgba(255, 255, 255, 0);
    background-image: url("./assets/img/vinyl_1.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    // box
    border-radius: 100%;
    height: 100%;
    width: 100%;
    // position
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -100;
    // effects
    transform: translate(-50%, -50%);
    transition: top 0.6s ease;
  }
  
  // ** MOBILE HEADER / NAVIGATION **
  .mobile-nav-wrap {
    // box
    height: 60px;
    width: 100%;
    border: none;
  }
  
  .navbar-header {
    // box 
    height: 60px;
    box-shadow: -75px 0 40px -5px #000 inset;
    // decor
    background-color: #000;
    background-image: url("./assets/img/skratchpad_logos/sp_logo_wht.org.png"), url("./assets/img/cut.setup_silho_01.png");
    background-position: 55px center, center;
    background-size: contain, cover;
    background-repeat: no-repeat;
    border-bottom: $color-d solid .5rem;
    .navbar-toggle {
      // decor
      background-color: #fff;
      color: $color-a;
      // box 
      border-radius: 50%;
      width: 35px;
      padding: 3px;
    }
    .navbar-btn-img {
      @include evenXY(100%);
    }
  }
  
  .navbar-fixed-top {
    border-width: 0;
  }
  
  .navbar-collapse {
    border-top: none;
  }
  
  .navbar-collapse,
  .navbar-nav {
    background: $color-a;
  }
  
  .navbar-nav {
    // box 
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .mobile-nav-item {
    // decor 
    border-bottom: $color-e solid 2px;
    // text
    font-family: $font-beta;
    font-size: 2.4rem;
    text-align: center;
    &:hover {
      background: $color-d;
      color: $color-e;
    }
    a {
      color: $color-b;
      &:active,
      &:hover {
        color: $color-a;
        text-shadow: $color-b 1px 1px 1px;
      }
    }
  }
  
  .large-nav-item,
  .navbar-nav {
    .active-link {
      // decor
      color: $color-d;
    }
  }
