<!--###################################-->
<!-- site header/nav for larger (>=768px) devices-->
<header class="large-nav-wrap hidden-sm-down">
  <div class="logo-row">
    <div class="header-logo">
      <a class="header-logo-link" routerLink="/home">
        <img class="img-responsive header-logo-img" src="./assets/img/sp_logos/sp.logo_wht.orng_blk.glow_01.png" alt="Skratchpad logo" />
      </a>
    </div>
  </div>
  <div class="large-nav-row">
    <div class="large-nav-item">
      <a routerLink="/home" routerLinkActive="active-link" class="large-nav-link">Home</a>
      <div class="large-nav-vinyl"></div>
    </div>
    <div class="large-nav-item dropdown">
      <a routerLink="/media" routerLinkActive="active-link" class="large-nav-link" role="button">
        Media
      </a>
      <div class="large-nav-vinyl"></div>
    </div>
    <div class="large-nav-item">
      <a routerLink="/chapters" routerLinkActive="active-link" class="large-nav-link" role="button">
        Chapters
      </a>
      <div class="large-nav-vinyl"></div>
    </div>
    <div class="large-nav-item">
      <a routerLink="shop" routerLinkActive="active-link" class="large-nav-link">Shop</a>
      <div class="large-nav-vinyl"></div>
    </div>
    <div class="large-nav-item">
      <a routerLink="/about" routerLinkActive="active-link" class="large-nav-link">About</a>
      <div class="large-nav-vinyl"></div>
    </div>
  </div>
</header>
<!--###################################-->
<!-- navbar for small (<=767px) devices -->
<div class="mobile-nav-wrap hidden-md-up">
  <nav class="navbar navbar-fixed-top navbar-toggleable-md">
    <div classs="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#mobileNav" aria-expanded="false" aria-controls="mobileNav">
          <span class="sr-only">toggle navigation</span>
          <img src="./assets/img/vinyl_1.svg" alt="vinyl menu toggle" class="navbar-btn-img navbar-toggler-icon">
        </button>
      </div>
      <div class="collapse navbar-collapse" id="mobileNav">
        <ul class="navbar-nav mr-auto">
          <li class="mobile-nav-item">
            <a href="#" class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
          </li>
          <li class="mobile-nav-item nav-item">
            <a href="#" class="nav-link" routerLink="/media" routerLinkActive="active-link">Media</a>
          </li>
          <li class="mobile-nav-item nav-item">
            <a href="#" class="nav-link" routerLink="/chapters" routerLinkActive="active-link">Chapters</a>
          </li>
          <li class="mobile-nav-item nav-item">
            <a href="#" class="nav-link" routerLink="/shop" routerLinkActive="active-link">Shop</a>
          </li>
          <li class="mobile-nav-item nav-item">
            <a href="#" class="nav-link" routerLink="/about" routerLinkActive="active-link">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
