@import "../../../assets/lib/vixins";
// (shared) 
// display: flex
:host,
.chapter-box,
.chapter-heading,
.chapter-info,
.chapter-crew,
.chapter-loc {
  display: flex;
}

:host {
  // display
  flex-direction: column; // text
  font-family: $font-a;
}

.chapter-box {
  flex-direction: column;
  .chapter-heading {
    // box
    width: 100%;
    // display 
    align-items: center;
    justify-content: center;
    // decor 
    background: $color-a;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: $color-b 1px 1px 1px;
  }
  .chapter-info {
    // box 
    height: auto;
    width: 100%;
    @include screen-size(tablet-phone) {
      // box
      width: auto;
      // flex 
      flex-direction: column;
    }
    .chapter-loc, 
    .chapter-crew {
      flex-direction: column;
    }
    .chapter-loc {
      // box
      height: 200px;
      width: 300px; 
    }
    .chapter-crew {
      // box 
      width: 40%;
      .crew-members{
        list-style: none;
      }
    }
  }
}
