@import "../../../assets/lib/vixins";
// (shared) 
// display: flex
:host,
.chapter-box,
.chapter-crew {
  display: flex;
}

:host {
  // display
  flex-direction: column;
  // text
  font-family: $font-a;
}

.chapter-box {
  // box 
  height: auto;
  width: 50%;
  @include screen-size(phone) {    
    width: auto;
  }
  // display 
  flex-direction: column;
}
