<div class="box-heading">
  Chapters
</div>
<div class="chapter-box">
  <div class="box-heading">
    <span id="_sf">San Francisco</span>
  </div>
  <address class="chapter-loc">
    <a href="http://chaibarsf.com/" target="_blank">Chai Bar by David Rio</a><br>
    1019 Market St.<br>
    San Francisco, California<br>
    All Ages!
  </address>
</div>
<div class="chapter-box">
  <div class="box-heading">
    <span id="_lv">Las Vegas</span>
  </div>
  <address class="chapter-loc">
    <a href="#" target="_blank">1 Stop DJ Shop</a><br>
    222 E. Imperial Ave. <br>
    Las Vegas, Nevada<br>
  </address>
</div>
<div class="chapter-box">
  <div class="box-heading">
    <span id="_dc">Washington D.C.</span>
  </div>
  <address class="chapter-loc">
    <a href="#">Beat Refinery</a><br>
    13009 Worldgate Dr. <br>
    Herndon, Virginia<br>
  </address>
</div>
