<div class="box-heading">
  Chapters
</div>
<div class="chapter-box">
  <div class="chapter-heading">
    {{chapter.sf.city}}
  </div>
  <div class="chapter-info">
    <address class="chapter-loc" [ngStyle]="{'background-image': chapter.sf.venue_logo}">
      <a href="http://chaibarsf.com/" target="_blank">{{chapter.sf.venue}}</a>
      <br>{{chapter.sf.address}}
    </address>
    <div class="chapter-crew">
      <ul class="crew-members">
        <li><a (click)="open('celskiii')">Celskiii</a></li>
        <li><a (click)="open('dee')">Deeandroid</a></li>
        <li><a (click)="open('mista_b')">DJ Mista-B</a></li>
        <li><a (click)="open('amerriica')">Amerriica</a></li>
        <li><a (click)="open('pone')">DJ Pone</a></li>
        <li><a (click)="open('robynn')">DJ Robynn</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="chapter-box">
  <div class="chapter-heading">
    {{chapter.lv.city}}
  </div>
  <div class="chapter-info">
    <address class="chapter-loc">
      <a href="#" target="_blank">{{chapter.lv.venue}}</a>
      <br>{{chapter.lv.address}}
    </address>
    <div class="chapter-crew">
      <ul class="crew-members">
        <li><a (click)="open('vibe')">DJ Vibe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="chapter-box">
  <div class="chapter-heading">
    {{chapter.dc.city}}
  </div>
  <div class="chapter-info">
    <address class="chapter-loc">
      <a href="#">{{chapter.dc.venue}}</a>
      <br> {{chapter.dc.address}}
    </address>
    <div class="chapter-crew">
      <ul class="crew-members">
        <li><a (click)="open('alf')">DJ Alf-One</a></li>
        <li><a (click)="open('as_one')">DJ AS-One</a></li>
      </ul>
    </div>
  </div>
</div>
