@import "../../../assets/lib/vixins";
// (shared) 
// display: flex
:host,
.chapter-box,
.chapter-crew {
  display: flex;
}

:host {
  // display
  flex-direction: column;
  // text
  font-family: $font-alpha;
}

.chapter-box {
  // box 
  height: auto;
  width: 50%;
  @include screen-size(phone) {    
    width: auto;
  }
  // display 
  flex-direction: column;
}

.chapter-loc {
  // box 
  width: 45%;
  margin-left: auto;
  @include x-padding(1rem);
}

.chapter-loc {
  // decor 
  background: #eee;
}
