<div class="box-heading">
  About us
</div>
<section class="content-box about-bio">
  <p>
    Skratchpad, an open turntable and DJ-centered Hip Hop event, was established in San Francisco in May 2003 . It was created
    by Celskiii and Deeandroid, with the help of DJ Amerriica, Jus Jones, and Winst-Oner, as an ode to SF’s late DJ weekly
    hosted by Derrick D., Beat Lounge. Local DJs as well as DJs from around the world would attend Skratchpad to showcase
    their skills and jam with DJs during the question & answer portion of the night.
    <br>
    <br>
    <img src="../../../assets/img/cel_dee_early.jpeg" alt="Celskiii and Deeandroid" class="img-responsive pull-left about-img clearfix">    
    From an open turntable format event to one which includes a Hip Hop show with DJ battles and performances by Bboys & Bgirls,
    emcees, bands, producers, and drummers, Skratchpad’s supporters grew from a small intimate crowd in 2003 to a population
    that extends from the Bay Area all the way to Houston, Texas. Since 2003, Skratchpad has expanded into multiple cities
    including: Sacramento, Los Angeles, San Jose, Las Vegas, Portland, and Houston.
    <br>
    <br>
    Skratchpad continues to organize events by a community of DJs in each city, creating these spaces for DJs out of a love for
    the art form. Most cities continue to host the Skratchpad night as a “No cover, just culture,” event, being free to the
    public.
    <br>
    <br>
    Skratchpad has become a successful event due to the hard work of every DJ and artist who has contributed and continues to
    put in work to organize such a unique Hip Hop event. Each Skratchpad chapter is organized by a group of core members
    and resident DJs on a grassroots level. Many people leave a Skratchpad event, feeling inspired and having a sense of
    community.
  </p>
</section>
<div class="box-heading">
  Our Mission
</div>
<section class="content-box about-mission">
  "...to help preserve Hip Hop culture, elevating the art of Deejaying, and connecting the music, culture, & people.”
</section>
