@import "../../../assets/lib/vixins";
:host {
    // box 
    height: 100%;
    width: 100%;

    // display 
    display: flex;
    flex-direction: column; 
}

.about-img {
    width: 350px;
    margin-right: 1rem;
    @include screen-size(tablet-phone){
        width: 100%;
    }
}

