@import "../../../assets/lib/vixins";
:host {
  // box
  @include evenXY(100%);
  margin-top: 1rem;
  // display
  flex-direction: column;
}

:host,
.posts-list-box,
.post-box,
.post-box-title {
  display: flex;
}

.posts-list-box {
  // display 
  flex-direction: column;
  margin-bottom: 1rem;
}

.post-box {
  // box
  height: 250px;
  width: 350px;
  overflow: hidden;
  // decor
  border-left: solid #000 1px;
  border-right: solid #000 1px;
  border-bottom: solid #000 1px;
}

.post-box-title {
  // display
  justify-content: center;
  flex: 1;
  opacity: 0;
  // box 
  padding: .5rem 1rem;
  // decor
  background: rgba(0, 0, 0, .6);
  text-align: center;
  // font 
  color: #fff;
  font-family: $font-philly;
  font-size: 1.8rem;
  // effects
  transition: opacity 500ms ease-in-out, text-shadow 1.4s, border-left 500ms, border-right 500ms, border-top 800ms, border-bottom 800ms;
  &:hover,
  &:active {
    height: 100%;
    opacity: 1;
    cursor: pointer;
    text-shadow: 1px 1px 10px $color-a;
  }
}
