@import "../../../assets/lib/vixins";

:host, 
.highlight-box,
.highlight-box-content, 
.recent-posts, 
.past-post {
    display: flex;
}

:host {
    // box 
    @include evenXY(100%);
    // display
    flex-direction: column;
}

.highlight-box {
    // display
    justify-content: center;
    align-self: center;
   // box
   height: 360px;
   width: 70%;
   margin: 0 1.2rem;
   padding: 2rem;
   @include screen-size(phone){
       height: auto;
       width: 100%;
       padding: .6rem;
   }

   // decor 
   background-color: #444;

    .highlight-box-content {
        // display 
        justify-content: center;
        align-items: center;
        
        // box 
        @include evenXY(100%);
        margin: 0 auto;
    }
}

.recent-post {
    // box 
    height: auto;
    width: 100%;

    // decor 
    background: #eee;

}