@import "../../../assets/lib/vixins";
:host,
.highlight-box,
.highlight-box-content,
.main-content,
.recent-posts-box {
  display: flex;
}

:host {
  // box 
  @include evenXY(100%);
  // display
  flex-direction: column;
}

.highlight-box {
  // display
  justify-content: center;
  align-self: center;
  // box
  height: auto;
  width: 80%;
  // decor 
  background-color: #444;
  .highlight-box-content {
    // display 
    justify-content: center;
    align-items: center;
    // box 
    height: 360px;
    width: 630px;
    margin: 0 1.2rem;
    padding: 2rem;
    @include screen-size(tablet-phone) {
      height: auto;
      width: auto;
      padding: .6rem;
    }
  }
}

.main-content {
  // box
  width: 100%;
  // display 
  flex-direction: row wrap;
  justify-content: center;
}

.events-list-box {
  // display 
  flex-direction: column;
}

.recent-posts-box {
  // box 
  height: auto;
  width: 60%;
  // display
  flex-direction: column;
  // decor
  background: #eee;
}
