<!-- LARGE VIEW FOOTER -->
<div class="large-foot-wrap hidden-xs">
  <div class="large-foot-social">
    <a href="http://facebook.com/SKRATCHPAD/" target="_blank"><i class="fa fa-facebook foot-icon"></i></a>
    <a href="http://instagram.com/skratchpad/" target="_blank"><i class="fa fa-instagram foot-icon"></i></a>
    <a href="http://youtube.com/skratchpadsf/" target="_blank"><i class="fa fa-youtube-play foot-icon"></i></a>
    <a href="http://skratchpad.tumblr.com/" target="_blank"><i class="fa fa-tumblr-square foot-icon"></i></a>
    <a href="mailto:contact@skratchpadworldwide.com" target="_blank"><i class="fa fa-envelope-o foot-icon"></i></a>
  </div>
  <div class="large-foot-sponsors">
    <span class="small-text">proudly sponsored by:</span>
    <a href="http://peavey.com" target="_blank"><img src="./assets/img/sponsor_logos/peavey_logo_white(T).png" class="img-responsive" alt="Peavey"></a>
    <a href="http://innofader.com" target="_blank"><img src="./assets/img/sponsor_logos/innofader_logo(T).png" class="img-responsive" alt="InnoFader"></a>
  </div>
</div>
<!-- MOBILE FOOTER -->
<div class="mobile-foot-wrap visible-xs">
  <div class="mobile-foot-social">
    <a href="http://facebook.com/SKRATCHPAD/" target="_blank"><i class="fa fa-facebook foot-icon"></i></a>
    <a href="http://instagram.com/skratchpad/" target="_blank"><i class="fa fa-instagram foot-icon"></i></a>
    <a href="http://youtube.com/skratchpadsf/" target="_blank"><i class="fa fa-youtube-play foot-icon"></i></a>
    <a href="http://skratchpad.tumblr.com/" target="_blank"><i class="fa fa-tumblr-square foot-icon"></i></a>
    <a href="mailto:contact@skratchpadworldwide.com" target="_blank"><i class="fa fa-envelope-o foot-icon"></i></a>
  </div>
  <div class="mobile-foot-sponsors">
    <a href="http://www.peavey.com/" target="_blank"><img src="./assets/img/sponsor_logos/peavey_logo_white(T).png" class="img-responsive" alt="Peavey"></a>
    <a href="http://www.innofader.com/" target="_blank"><img src="./assets/img/sponsor_logos/innofader_logo(T).png" class="img-responsive" alt="InnoFader"></a>
  </div>
</div>
<div class="footer-copy">
  <span class="foot-copy">Skratchpad&#8482; Worldwide | &copy; {{currentYear}}</span>
  <span class="foot-motto">No cover... Just culture</span>
</div>
