@import "../../assets/lib/vixins";
:host {
  a {
    color: inherit;
    &:focus,
    &:hover {
      color: $color-d;
    }
  }
  // display 
  flex-direction: column;
  // box
  border-top: solid .5rem $color-d;
  height: auto;
  margin-top: auto;
}

.footer-copy,
.large-foot-wrap,
.mobile-foot-social,
.mobile-foot-sponsors,
.mobile-foot-wrap,
:host {
  // display
  display: flex;
}

// ** LARGE FOOTER **
.large-foot-wrap {
  // display
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // box
  height: auto;
  width: 100%;
  padding: 0.3rem 0.5rem;
  // decor
  background-color: $color-a;
  color: $color-b;
  .large-foot-social,
  .large-foot-sponsors {
    display: inline-flex;
  }
  .large-foot-social {
    // text
    font-size: 2em;
    .foot-icon {
      margin: 0 1.4rem;
    }
  }
  .large-foot-sponsors {
    // box
    max-height: 100%;
    margin-left: auto;
    img {
      height: 2.4rem;
      margin: 0 1rem;
    }
  }
}

.foot-icon {
  margin: 0 0.6rem;
}

.mobile-foot-wrap {
  // display
  flex-direction: column;
  // decor
  background: $color-a;
  // box
  height: auto;
  width: 100%;
  padding-top: .5rem;
  .mobile-foot-social {
    // display
    justify-content: space-between;
    // box
    width: 100%;
    height: auto;
    // decor
    color: $color-b;
    // text
    font-size: 2.4em;
  }
  .mobile-foot-sponsors {
    // display
    justify-content: center;
    // box
    margin: 1rem;
    img {
      height: 2.4rem;
      margin: 0 2rem;
    }
  }
}

.footer-copy {
  // display
  align-items: center;
  justify-content: center;
  // decor
  background-color: $color-a;
  color: $color-d;
  // text
  font-family: $font-b;
  font-size: .8em;
  // box
  height: auto;
  @include x-padding(1rem);
  padding-bottom: .3rem;
  width: 100%;
  .foot-motto {
    margin-left: auto;
  }
}
