@import "./assets/lib/vixins";
html,
body {
  // box
  height: 100%;
}

body {
  // text
  font-family: $font-alpha;
  font-size: 16px;
  @include screen-size(phone) {
    font-size: 14px;
  }
}

// ### fonts ###
$font-alpha: "Nunito Sans",
sans-serif;
$font-beta: "Montserrat",
sans-serif;
$font-gamma: "Reem Kufi",
sans-serif;
// ### color palette ###
$color-alpha: #93c2f4;
$color-beta: #60061e;
$color-gamma: #ab6dee;
// ## Anchor
a,
a:active,
a:focus,
a:hover {
  // text
  text-decoration: none !important;
}

// ## Text 
.small-text {
  font-size: 0.75em;
}

// ## Box-frames
.yt-box {
  // box 
  @include evenXY(100%);
  @include screen-size(phone) {
    height: auto;
    width: auto;
  }
}

.content-box {
  // box
  height: auto;
  width: 100%;
  padding-bottom: 2rem;
  // display 
  align-self: center;
  // text 
  font-weight: 500;
}

.box-heading {
  // box
  height: 4rem;
  width: 100%;
  margin-bottom: 2rem;
  @include x-padding(1.5rem);
  // decor 
  background: $color-beta;
  color: #fff;
  // display
  display: flex;
  align-items: center;
  align-self: center;
  // text
  font-family: $font-gamma;
  font-size: 1.5em;
}
