@import "./assets/lib/vixins";
html,
body {
  // box
  height: 100%;
}

body {
  // text
  font-family: $font-alpha;
  font-size: 16px;
  @include screen-size(phone) {
    font-size: 14px;
  }
}

.content-box, 
.box-heading {
  display: flex;
}

// ## anchor
a,
a:active,
a:focus,
a:hover {
  // text
  text-decoration: none !important;
  cursor: pointer;
}

// ## Text 
.small-text {
  font-size: 0.75em;
}

// ## Box-frames
.yt-box {
  // box 
  @include evenXY(100%);
  @include screen-size(phone) {
    height: auto;
    width: auto;
  }
}

.content-box {
  // box
  height: auto;
  width: auto;
  margin: 1rem;
  padding: 1rem;
  // decor 
  background: #eee;
  box-shadow: 0 0 1rem -0.3rem #777;
  // display 
  align-self: center;
  flex-direction: column;
}

.box-heading {
  // box
  height: 6.5rem;
  width: 100%;
  @include x-padding(1.5rem);
  // decor 
  background: $color-beta;
  color: #fff;
  // display
  align-items: center;
  align-self: center;
  @include screen-size(phone) {
    justify-content: center;
  }
  // text
  font-family: $font-gamma;
  font-size: 2em;
}

.multi-sp-bg-box {
  background:#444;
  background-image: url("./assets/img/sp_logos/sp.bg_multi.logos_greys.png");
  background-size: 75%;
  background-repeat: repeat-x;
}